{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block content %}

<style>
  @font-face {
    font-family: 'Ovelion';
    src: url("{% static 'fonts/Ovelion-Regular.ttf' %}") format('truetype');
  }
  
  body, body * {
    font-family: 'Ovelion', sans-serif !important;
  }
  .company-credit{
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 9px;
  font-weight: 600;
  letter-spacing: .02em;

  color: rgba(255,255,255,.65);

  /* ✅ IMPORTANT FIX */
  white-space: nowrap;     /* force single line */
  line-height: 1.4;        /* prevent overlap */
  display: block;

  background: none;
  border: none;
  padding: 0;

  z-index: 20;
}
  </style>
<div class="card card-premium">

  <h1 style="margin:0 0 10px;font-size:36px;font-weight:900;letter-spacing:.6px;">
    <span class="silver-run">WELCOME</span>
    <span class="silver-run wave-bang">!</span>
  </h1>

  <p style="opacity:.9;margin-bottom:22px">
    Come to your trusted bank,<br>
    we are waiting to serve you 24 hours
  </p>

<a href="/login/" style="
  display:block;
  padding:14px;
  border-radius:999px;
  background:linear-gradient(90deg,#0E5F2F,#1E8E3E);
  border:2px solid rgba(192, 192, 192, 0.904);
  box-shadow:0 0 10px rgba(10,10,9,.788), 0 14px 10px rgba(0,0,0,.815);
  color:#fff;
  font-weight:800;
  text-decoration:none;
  margin-bottom:12px;">
  START →
</a>

<a href="/register/" style="
  display:block;
  padding:12px;
  border-radius:999px;
  background:rgba(14,95,47,.35);
  border:2px solid rgba(192, 192, 192, 0.904);
  box-shadow:0 0 10px rgba(10,10,9,.45), 0 14px 10px rgba(0,0,0,.55);
  color:#fff;
  font-weight:800;
  text-decoration:none;">
  REGISTER +
</a>

  <small style="display:block;margin-top:12px;opacity:.8">
    Trusted • 24/7 support
  </small>

</div>

<div class="company-credit">
  © 2026 ZANDA Financial (Private) Limited Company.
</div>
{% endblock %}
