{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block content %}

<style>
  @font-face {
    font-family: 'Ovelion';
    src: url("{% static 'fonts/Ovelion-Regular.ttf' %}") format('truetype');
  }
  
  body, body * {
    font-family: 'Ovelion', sans-serif !important;
  }
  </style>
<div class="card">

  <h1 style="margin:0 0 10px;font-size:36px;font-weight:900;letter-spacing:.6px;">
    <span class="silver-run">WELCOME</span>
    <span class="silver-run wave-bang">!</span>
  </h1>

  <p style="opacity:.9;margin-bottom:22px">
    Come to your trusted bank,<br>
    we are waiting to serve you 24 hours
  </p>

  <a href="/login/" style="
    display:block;
    padding:14px;
    border-radius:999px;
    background:linear-gradient(90deg,#004182,#054585ab);
    color:#fff;
    font-weight:800;
    text-decoration:none;
    margin-bottom:12px;">
    START →
  </a>

  <a href="/register/" style="
    display:block;
    padding:12px;
    border-radius:999px;
    border:1px solid rgba(255,255,255,.45);
    color:#fff;
    text-decoration:none;">
    REGISTER +
  </a>

  <small style="display:block;margin-top:12px;opacity:.8">
    Trusted • 24/7 support
  </small>

</div>
{% endblock %}
